<!doctype html>
<html>

<head>
    <title>
        <%=appName%>
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>
        <%=appName%>
    </h1>
    <p><a href="properties">All Properties</a></p>
    <p><a href="/">Search Properties</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="register">Register</a></p>
    <p><a href="loggedout">Logout</a></p>
    <p><a href="dashboard">Dashboard</a></p>
    <p><a href="about">About <%=appName%></a></p>
</body>

</html>