<!doctype html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>
        <%=appName%>
    </h1>
    <h3>Login to your account:</h3>

    <div class="form-container">

        <% if (typeof error !== 'undefined' && error) { %>
            <p class="error-message"><%= error %></p>
        <% } %>
        <% if (typeof success !== 'undefined' && success) { %>
            <p class="success-message"><%= success %></p>
        <% } %>

        <form method="POST" action="/loggedin">
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" type="text" name="username" required />
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" required />
            </div>
            <div class="button-container">
                <input type="submit" value="Login" class="submit-button" />
                <a href="/" class="back-button">Back</a>
            </div>
        </form>
    </div>
</body>

</html>