<!doctype html>
<html>

<head>
    <title>
        <%=appName%>
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>
        <%=appName%>
    </h1>
    <h3>A list of all the properties:</h3>
</body>

</html>