<!doctype html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1>
        <%=appName%>
    </h1>
    <h3>Register an account:</h3>

    <div class="form-container">

        <% if (typeof error !== 'undefined' && error) { %>
            <p class="error-message"><%= error %></p>
        <% } %>
        <% if (typeof success !== 'undefined' && success) { %>
            <p class="success-message"><%= success %></p>
        <% } %>

        <form method="POST" action="/registered">
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" type="text" name="username" value="" />
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" value="" />
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" value="" />
                <label for="first">First name:</label>
                <input id="first" type="text" name="first" value="" />
                <label for="last">Last name:</label>
                <input id="last" type="text" name="last" value="" />
            </div>
            <div class="button-container">
                <input type="submit" value="Register" class="submit-button" />
                <a href="/" class="back-button">Back</a>
            </div>
        </form>
    </div>
</body>

</html>