h1, h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: darkcyan;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

p,li,a {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a:link {
    color: orangered;
    text-decoration: none;
    padding: 5px;
}

/* visited link */
a:visited {
    color: tomato;
    text-decoration: none;
    padding: 5px;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 5px;
}

/* selected link */
a:active {
    color: blue;
    text-decoration: none;
    padding: 5px;
}

.content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; 
}

.link-container {
    text-align: center;
    margin-top: 5px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    padding:5px;
}

.form-group input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #45a049;
}

.back-button {
    text-align: right;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}
